.contact__form-container {
    justify-content: left;
    width: 100%;
    display: flex;
    max-height: 320px;
    position: relative;
    top: -30px;
    opacity: 0;
    &.visible{
        opacity: 1;
        height: 320px;
        transition: opacity 0.25s ease-in;
    }
}
.contact__form {
    width: 95%;
}

label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }

hr {
    margin: 0
}

.toggle-contact-form {
    border-style: none;
    background-color: transparent;
    outline: none;
    padding-left: 0;
    color: #136cf1;
}

.delete-contact {
    border-style: none;
    background-color: transparent;
    outline: none;
    padding-left: 0;
    color: #c40000;
    font-weight: bolder;
}

.submit-contact {
        margin: 0;
        background-color: #0f59c7;
        border-radius: 3px;
        border-width: 2px;
        border-style: groove;
        border-color: grey;
        color: white;
        outline: none;
        &:active {
          background-color: #136cf1;
          border-color: white;
          transform: translateY(0.5px);
        }
}
